a {
    text-decoration: none;
}
nav{
    font-family: monospace;
}
ul{
    background: lightpink;
    list-style: none;
    margin: 0;
    padding: 0;
}
li{
    color: maroon;
    background: lightpink;
    display: block;
    float: left;
    padding: 1rem;
    position: relative;
    text-decoration: none;
    transition-duration: 0.5s;
}
li a {
    color: maroon;
}
li:hover,
li:focus-within {
    background: navy;
    cursor: pointer;
}
li:focus-within a {
    outline: none;
}
ul li ul {
    background: coral;
    visibility: hidden;
    opacity: 0;
    min-width: 5rem;
    position: absolute;
    transition: all 0.5s ease;
    margin-top: 1rem;
    left: 0;
    display: none;
}
ul li:hover > ul,
ul li:focus-within > ul,
ul li ul:hover,
ul li ul:focus {
    visibility:visible;
    opacity: 1;
    display: block;
}
ul li ul {
    clear: both;
    width: 100%;
}