.h1 {
    font-size: 10px;
    color: lightpink;
}
.p {
    font-size: 10pt;
    color: lightsalmon;
}
.box1 {
    font-size: 2cm;
    background-color: lightcoral;
    margin-bottom: 10px;
}
.box2 {
    font-size: 150%;
    background-color: coral;
}
