body {
    background-color: pink;
}
/* Paragraf 1 */
p:nth-of-type(2) {
    font-size: 14px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: lighter;
    font-style: normal;
    color: darkblue;
}

/* Paragraf 2 */
p:nth-of-type(4) {
    font-size: small;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 300;
    font-style: italic;
    color: darkgreen;
}

/* Paragraf 3 */
p:nth-of-type(6) {
    font-size: large;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    font-style: oblique;
    color: maroon;
}

/* Paragraf 4 */
p:nth-of-type(8) {
    font-size: x-small;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bolder;
    font-style: normal;
    color: purple;
}

/* Paragraf 5 */
p:nth-of-type(10) {
    font-size: x-large;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 900;
    font-style: italic;
    color: crimson;
}